In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [5]:
data_USED_CAR = pd.read_excel("used_cars_cleaned.xlsx")
# data_NEW_CAR = pd.read_excel("data.xlsx", sheet_name="NEW_CAR")
print (data_USED_CAR.shape)
# print (data_NEW_CAR.shape)

(2240, 14)

In [6]:
data_USED_CAR.dtypes

CUSTOMERID                     int64
VEHICLEID                      int64
TRANSACTION_DATE              object
BRAND                         object
MODEL                         object
COLOUR                        object
ACTUAL_PRICE                 float64
DISCOUNTED RATIO             float64
MODELYR                        int64
STORECODE                      int64
GENDER                        object
CUS_BIRTH_DATE                object
TRANSACTION_DATE_1    datetime64[ns]
CUS_BIRTH_DATE_1      datetime64[ns]
dtype: object

In [10]:
data_USED_CAR['CUS_BIRTH_DATE_1'].max()

Timestamp('2068-11-19 00:00:00')

In [11]:
from datetime import datetime, timedelta, date

d0 = date(2020, 1, 2)
delta = d0 - timedelta(days=365*18)
print(delta)

2002-01-06

In [58]:
from datetime import datetime, timedelta, date

d0 = date(2020, 1, 2)
delta = d0 - timedelta(days=365*60)
print(delta)

1960-01-17

In [14]:
data_USED_CAR.shape

(2240, 14)

In [47]:
# test_1 = data_USED_CAR[data_USED_CAR['CUS_BIRTH_DATE_1'] <= "01-06-2002"]

test_1 = data_USED_CAR

In [48]:
test_1.head()

,CUSTOMERID,VEHICLEID,TRANSACTION_DATE,BRAND,MODEL,COLOUR,ACTUAL_PRICE,DISCOUNTED RATIO,MODELYR,STORECODE,GENDER,CUS_BIRTH_DATE,TRANSACTION_DATE_1,CUS_BIRTH_DATE_1
0,2357269,243635,2017-12-27,D,MALIBU,Coppertino Metallic,14654.95175,0.06437,2018,88,F,95/02/12 00:00:00,2017-12-27,1995-02-12
1,1366119,262206,2019-08-28,G,TRAVERSE,Summit White,22436.11079,0.06758,2019,71,F,89/09/01 00:00:00,2019-08-28,1989-09-01
2,482589,231904,2017-01-31,G,TAHOE,Black,30488.93468,0.06047,2017,84,M,98/10/02 00:00:00,2017-01-31,1998-10-02
3,1893602,236944,2017-05-27,D,TRAX,Son of a Gun Grey Metallic,15797.80574,0.05965,2017,71,M,83/11/28 00:00:00,2017-05-27,1983-11-28
4,2741953,247966,2018-09-30,C,IMPALA,Blue Velvet Metallic,17787.27321,0.06601,2018,70,M,92/02/29 00:00:00,2018-09-30,1992-02-29

In [49]:
test_1['CUS_BIRTH_DATE_1'].min()

Timestamp('1930-01-08 00:00:00')

In [50]:
# test_1[['CUSTOMERID', 'TRANSACTION_DATE', 'CUS_BIRTH_DATE_1']]

In [51]:
transaction_id = test_1[['CUSTOMERID', 'TRANSACTION_DATE', 'CUS_BIRTH_DATE_1']]

transaction_id = transaction_id.sort_values(['CUSTOMERID', 'TRANSACTION_DATE', 'CUS_BIRTH_DATE_1'])
transaction_id.head()

      CUSTOMERID TRANSACTION_DATE CUS_BIRTH_DATE_1
154         1845       2008-02-28       1991-07-01
2094        2667       2019-11-14              NaT
853         7838       2018-02-28       1986-07-21
995         8190       2019-03-28       1984-04-19
1212       10181       2017-10-11       1992-05-21

In [93]:
transaction_id_final = transaction_id.drop_duplicates(subset= 'CUSTOMERID' , keep ="first")

In [94]:
transaction_id_final.head()

      CUSTOMERID TRANSACTION_DATE CUS_BIRTH_DATE_1
154         1845       2008-02-28       1991-07-01
2094        2667       2019-11-14              NaT
853         7838       2018-02-28       1986-07-21
995         8190       2019-03-28       1984-04-19
1212       10181       2017-10-11       1992-05-21

In [95]:
transaction_id_final.shape

(1654, 3)

In [96]:
transaction_id_final['CUSTOMERID'].nunique()

1654

In [129]:
transaction_id_final['CUS_BIRTH_DATE_1'].nunique()

1352

In [97]:
transaction_id_final['CUS_BIRTH_DATE_1'].max()

Timestamp('2068-11-19 00:00:00')

In [98]:
transaction_id_final['CUS_BIRTH_DATE_1'].min()

Timestamp('1930-01-08 00:00:00')

In [99]:
# transaction_id_final['CUS_BIRTH_DATE_1'] <= '01-01-1960'

In [100]:
# transaction_id_final['CUS_BIRTH_DATE_2'] = np.where(transaction_id_final['CUS_BIRTH_DATE_1'] >= '01-06-2002', '01-06-2002', 
#                                                    np.where(transaction_id_final['CUS_BIRTH_DATE_1'] <= '01-01-1960', '01-01-1960',\
#                                                    transaction_id_final['CUS_BIRTH_DATE_1']))

In [101]:
# 1960-01-17

In [102]:
# transaction_id_final['CUS_BIRTH_DATE_2'] = np.where(transaction_id_final['CUS_BIRTH_DATE_1'] >='01-06-2002', '01-06-2002', transaction_id_final['CUS_BIRTH_DATE_1'])

In [121]:
date_1 = transaction_id_final[transaction_id_final['CUS_BIRTH_DATE_1'] >='01-06-2002']
date_2 = transaction_id_final[transaction_id_final['CUS_BIRTH_DATE_1'] <='01-01-1960']
date_3 = transaction_id_final[(transaction_id_final['CUS_BIRTH_DATE_1'] >'01-01-1960') &  (transaction_id_final['CUS_BIRTH_DATE_1'] <'01-06-2002')]

In [122]:
date_1.shape

(146, 3)

In [123]:
date_2.shape

(5, 3)

In [124]:
date_3.shape

(1306, 3)

In [125]:
date_1['CUS_BIRTH_DATE_2'] = np.where(date_1['CUS_BIRTH_DATE_1'] >='01-06-2002', '01-06-2002', "NA")
date_2['CUS_BIRTH_DATE_2'] = np.where(date_2['CUS_BIRTH_DATE_1'] <='01-01-1960', '01-01-1960', "NA")
date_3['CUS_BIRTH_DATE_2'] = date_3['CUS_BIRTH_DATE_1']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [126]:
# date_1['CUS_BIRTH_DATE_2'] = np.where(date_1['CUS_BIRTH_DATE_1'] >='01-06-2002', '01-06-2002', "NA")
# date_2['CUS_BIRTH_DATE_2'] = np.where(date_2['CUS_BIRTH_DATE_1'] <='01-01-1960', '01-01-1960', "NA")
# date_3['CUS_BIRTH_DATE_2'] = date_3['CUS_BIRTH_DATE_1']

In [127]:
date_filters = pd.concat([date_1, date_2, date_3], axis = 0)

In [128]:
date_filters.shape

(1457, 4)

In [151]:
join = pd.merge(test_1, date_filters[['CUSTOMERID', 'CUS_BIRTH_DATE_2']], how = "left", on = 'CUSTOMERID')

In [152]:
join.head()

,CUSTOMERID,VEHICLEID,TRANSACTION_DATE,BRAND,MODEL,COLOUR,ACTUAL_PRICE,DISCOUNTED RATIO,MODELYR,STORECODE,GENDER,CUS_BIRTH_DATE,TRANSACTION_DATE_1,CUS_BIRTH_DATE_1,CUS_BIRTH_DATE_2
0,2357269,243635,2017-12-27,D,MALIBU,Coppertino Metallic,14654.95175,0.06437,2018,88,F,95/02/12 00:00:00,2017-12-27,1995-02-12,1986-11-30 00:00:00
1,1366119,262206,2019-08-28,G,TRAVERSE,Summit White,22436.11079,0.06758,2019,71,F,89/09/01 00:00:00,2019-08-28,1989-09-01,1989-09-01 00:00:00
2,482589,231904,2017-01-31,G,TAHOE,Black,30488.93468,0.06047,2017,84,M,98/10/02 00:00:00,2017-01-31,1998-10-02,1980-12-01 00:00:00
3,1893602,236944,2017-05-27,D,TRAX,Son of a Gun Grey Metallic,15797.80574,0.05965,2017,71,M,83/11/28 00:00:00,2017-05-27,1983-11-28,1983-11-28 00:00:00
4,2741953,247966,2018-09-30,C,IMPALA,Blue Velvet Metallic,17787.27321,0.06601,2018,70,M,92/02/29 00:00:00,2018-09-30,1992-02-29,1984-08-03 00:00:00

In [133]:
# analysis

In [153]:
DOB = join[~join['CUS_BIRTH_DATE_2'].isna()]

In [154]:
DOB.dtypes

CUSTOMERID                     int64
VEHICLEID                      int64
TRANSACTION_DATE              object
BRAND                         object
MODEL                         object
COLOUR                        object
ACTUAL_PRICE                 float64
DISCOUNTED RATIO             float64
MODELYR                        int64
STORECODE                      int64
GENDER                        object
CUS_BIRTH_DATE                object
TRANSACTION_DATE_1    datetime64[ns]
CUS_BIRTH_DATE_1      datetime64[ns]
CUS_BIRTH_DATE_2              object
dtype: object

In [155]:
DOB['CUS_BIRTH_DATE_2']  = pd.to_datetime(DOB['CUS_BIRTH_DATE_2'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [156]:
ref_date = dt.datetime.now()
DOB['age'] = DOB['CUS_BIRTH_DATE_2'].apply(lambda x: len(pd.date_range(start = x, end = ref_date, freq = 'Y')))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [157]:
DOB.head()

,CUSTOMERID,VEHICLEID,TRANSACTION_DATE,BRAND,MODEL,COLOUR,ACTUAL_PRICE,DISCOUNTED RATIO,MODELYR,STORECODE,GENDER,CUS_BIRTH_DATE,TRANSACTION_DATE_1,CUS_BIRTH_DATE_1,CUS_BIRTH_DATE_2,age
0,2357269,243635,2017-12-27,D,MALIBU,Coppertino Metallic,14654.95175,0.06437,2018,88,F,95/02/12 00:00:00,2017-12-27,1995-02-12,1986-11-30,34
1,1366119,262206,2019-08-28,G,TRAVERSE,Summit White,22436.11079,0.06758,2019,71,F,89/09/01 00:00:00,2019-08-28,1989-09-01,1989-09-01,31
2,482589,231904,2017-01-31,G,TAHOE,Black,30488.93468,0.06047,2017,84,M,98/10/02 00:00:00,2017-01-31,1998-10-02,1980-12-01,40
3,1893602,236944,2017-05-27,D,TRAX,Son of a Gun Grey Metallic,15797.80574,0.05965,2017,71,M,83/11/28 00:00:00,2017-05-27,1983-11-28,1983-11-28,37
4,2741953,247966,2018-09-30,C,IMPALA,Blue Velvet Metallic,17787.27321,0.06601,2018,70,M,92/02/29 00:00:00,2018-09-30,1992-02-29,1984-08-03,36

In [158]:
DOB.dtypes

CUSTOMERID                     int64
VEHICLEID                      int64
TRANSACTION_DATE              object
BRAND                         object
MODEL                         object
COLOUR                        object
ACTUAL_PRICE                 float64
DISCOUNTED RATIO             float64
MODELYR                        int64
STORECODE                      int64
GENDER                        object
CUS_BIRTH_DATE                object
TRANSACTION_DATE_1    datetime64[ns]
CUS_BIRTH_DATE_1      datetime64[ns]
CUS_BIRTH_DATE_2      datetime64[ns]
age                            int64
dtype: object

In [159]:
# 18-24, 25-29, 30-34, 35-39, 40-44, 45+)

In [160]:
DOB["age_bucket"] = np.where((DOB['age'] >= 18) & (DOB['age'] <= 24), '18-24', 
                             np.where((DOB['age'] >= 25) & (DOB['age'] <= 29), '25-29',
                                     np.where((DOB['age'] >= 30) & (DOB['age'] <= 34), '30-34',
                                             np.where((DOB['age'] >= 35) & (DOB['age'] <= 39), '35-39',
                                                     np.where((DOB['age'] >= 40) & (DOB['age'] <= 44), '40-44', '45+'
                                                             )))))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [161]:
# DOB["age_bucket"]

In [150]:
##############################################################

In [162]:
DOB['profit_gain'] = DOB['ACTUAL_PRICE'] * DOB['DISCOUNTED RATIO']
DOB['selling_price'] = DOB['ACTUAL_PRICE'] + DOB['profit_gain']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [164]:
DOB = DOB[DOB['ACTUAL_PRICE'] < 100000]
DOB = DOB[DOB['ACTUAL_PRICE'] > 1]
DOB = DOB[DOB['DISCOUNTED RATIO'] < 1]

In [167]:
transaction_id = DOB[['CUSTOMERID', 'TRANSACTION_DATE_1']]
transaction_id = transaction_id.sort_values(['CUSTOMERID', 'TRANSACTION_DATE_1'])
transaction_id.head()

transaction_id_final = transaction_id.drop_duplicates(keep ="first")

transaction_id_final["transaction_id"] = np.arange(transaction_id_final.shape[0])+1


DOB  = pd.merge(DOB, transaction_id_final[['CUSTOMERID', 'transaction_id']], on = 'CUSTOMERID', how = "left")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [168]:
DOB['transaction_id'].isna().value_counts()

False    5392
Name: transaction_id, dtype: int64

In [169]:
DOB.head()

,CUSTOMERID,VEHICLEID,TRANSACTION_DATE,BRAND,MODEL,COLOUR,ACTUAL_PRICE,DISCOUNTED RATIO,MODELYR,STORECODE,GENDER,CUS_BIRTH_DATE,TRANSACTION_DATE_1,CUS_BIRTH_DATE_1,CUS_BIRTH_DATE_2,age,age_bucket,profit_gain,selling_price,transaction_id
0,2357269,243635,2017-12-27,D,MALIBU,Coppertino Metallic,14654.95175,0.06437,2018,88,F,95/02/12 00:00:00,2017-12-27,1995-02-12,1986-11-30,34,30-34,943.36906,15598.32081,750
1,1366119,262206,2019-08-28,G,TRAVERSE,Summit White,22436.11079,0.06758,2019,71,F,89/09/01 00:00:00,2019-08-28,1989-09-01,1989-09-01,31,30-34,1516.32739,23952.43818,415
2,482589,231904,2017-01-31,G,TAHOE,Black,30488.93468,0.06047,2017,84,M,98/10/02 00:00:00,2017-01-31,1998-10-02,1980-12-01,40,40-44,1843.52053,32332.45521,130
3,482589,231904,2017-01-31,G,TAHOE,Black,30488.93468,0.06047,2017,84,M,98/10/02 00:00:00,2017-01-31,1998-10-02,1980-12-01,40,40-44,1843.52053,32332.45521,131
4,482589,231904,2017-01-31,G,TAHOE,Black,30488.93468,0.06047,2017,84,M,98/10/02 00:00:00,2017-01-31,1998-10-02,1980-12-01,40,40-44,1843.52053,32332.45521,132

In [171]:
# car model
age_bucket_rfm= DOB.groupby('age_bucket').agg({'CUSTOMERID': lambda num: len(np.unique(num)),
                                                            'transaction_id': lambda num: len(np.unique(num)),
                                                            'selling_price': lambda price: price.sum()
                                                                }).reset_index()

age_bucket_rfm.head()

  age_bucket  CUSTOMERID  transaction_id  selling_price
0      18-24         302             308  9349688.60109
1      25-29         260             264  7634575.90382
2      30-34         299             309  9666222.06791
3      35-39         266             295 18224263.42570
4      40-44         197             238 68220954.40362

In [172]:
age_bucket_rfm.columns = ['age_bucket', 'uniques_CUSTOMERID', 'Frequency',"Sum_amount"]

In [173]:
# car model
# average customer spending
age_bucket_rfm['average_customer_spending'] = age_bucket_rfm['Sum_amount']  / age_bucket_rfm['uniques_CUSTOMERID']
age_bucket_rfm['average_transaction_per_customer'] = age_bucket_rfm['Frequency']  / age_bucket_rfm['uniques_CUSTOMERID']


age_bucket_rfm

,age_bucket,uniques_CUSTOMERID,Frequency,Sum_amount,average_customer_spending,average_transaction_per_customer
0,18-24,302,308,9349688.60109,30959.23378,1.01987
1,25-29,260,264,7634575.90382,29363.75348,1.01538
2,30-34,299,309,9666222.06791,32328.50190,1.03344
3,35-39,266,295,18224263.42570,68512.26852,1.10902
4,40-44,197,238,68220954.40362,346299.26093,1.20812
5,45+,133,171,33512697.98301,251975.17280,1.28571

In [180]:
DOB.groupby(['age_bucket']).agg({'ACTUAL_PRICE': 'mean'}).reset_index()

  age_bucket  ACTUAL_PRICE
0      18-24   25029.82820
1      25-29   25443.87784
2      30-34   23059.23127
3      35-39   23786.19453
4      40-44   25954.48755
5        45+   26444.29270